<h2 class="page-header" >Search Sinhvien</h2>
<form action="/sinhvien" method="get">
    <div class="form-row">
        <div class="form-item">
            <label>Name</label>
            <input type="text" name="name" value="<%= SearchOptions.name %>">
        </div>
    </div>  
    <div class="form-row form-row-end">
        <button class="button button-primary" type="submit">Search</button> 
    </div>
</form>
<br>
<% sv.forEach(sv => { %>
    <div class="sinhvien-row">
        <div class="sinhvien-name"><%= sv.name %></div>
        <div class="button-row">
            <a class="button button-primary" href="/sinhvien/<%= sv.id %>">View</a>
            <a class="button button-primary" href="/sinhvien/<%= sv.id %>/edit">Edit</a>
            <%- include('../partials/deleteform', { url: `/sinhvien/${sv.id}` }) %>
        </div>
    </div>
<% }); %>
