<div class="form-row">
    <div class="form-item">
        <label for="">Name</label>
        <input type="text" name="name" value="<%= sv.name %>">
    </div>
    <div class="form-item">
        <label for="">MSSV</label>
        <input type="text" name="mssv" value="<%= sv.mssv %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label for="">Điểm thường kỳ 1</label>
        <input type="number" name="tk1" value="<%= sv.tk1 %>">
    </div>
    <div class="form-item">
        <label for="">Điểm thường kỳ 2</label>
        <input type="number" name="tk2" value="<%= sv.tk2 %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label for="">Điểm giữa kỳ</label>
        <input type="number" name="gk" value="<%= sv.gk %>">
    </div>
    <div class="form-item">
        <label for="">Điểm cuối kỳ</label>
        <input type="number" name="ck" value="<%= sv.ck %>">
    </div>
</div>
